global:
  scrape_interval: 15s  # Default scrape interval

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['185.204.169.82:9090']  # Prometheus will scrape its own metrics
