apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: compute-svc-hpa
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: compute-svc
  minReplicas: 2
  maxReplicas: 10
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization  # یا می‌توانید از "Value" یا "AverageValue" استفاده کنید
        averageUtilization: 50  # برای نوع "Utilization"
